{% extends 'base.html' %}

{% block content %}
<h1> HOME </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur modi ipsa aperiam cum mollitia cumque dignissimos libero, molestias eum ea nihil temporibus porro atque optio cupiditate numquam dolorum eos similique quisquam debitis quia voluptatibus a. Quibusdam et ducimus labore enim animi laudantium. Laboriosam doloremque atque sapiente voluptatum quisquam aperiam blanditiis, officiis tenetur. Similique perferendis qui in ipsa quis odit ipsam adipisci quasi eaque id consectetur atque reprehenderit earum provident consequatur fuga rerum, omnis obcaecati itaque quos. Saepe eaque, cum quia, quam laborum debitis totam atque dicta iusto quae doloribus! Illum dolores voluptas ex, nisi delectus beatae modi dolorem quod maiores!</p>
{% endblock %}