
{% extends 'base.html' %}
{% block content %}
<div class='titulo-y-boton'>
    <div class="titulos">
        <h1>Tablero: {{ tablero.nombre }}</h1>
    </div> 
    <div class="boton-crear">
        <a href="{% url 'crear_lista' espacio_id=espacio.id tablero_id=tablero.id %}">Crear lista</a>
    </div>
    {% if tablero.listas.all %}
        <div class="boton-crear">
            <a href="{% url 'crear_tarjeta' espacio_id=espacio.id tablero_id=tablero.id %}">Crear tarjeta</a>
        </div>
    {% endif %}
    
</div>
<div class="kanban-board">
    {% for lista in listas %}
    <div class="column {% if lista.lleno %}column-full{% endif %}"> 
        {% if lista.lleno %}
            <div class="alert alert-danger">¡La lista ha alcanzado su límite de WIP!</div>
        {% endif %}
        <div class="boton-crear"><a  href="{% url 'lista_mover_izquierda' espacio_id=espacio.id tablero_id=tablero.id lista_id=lista.id %}">Izquierda</a></div>
        <div class="boton-crear"><a href="{% url 'lista_detalle' espacio_id=espacio.id tablero_id=tablero.id lista_id=lista.id %}">Editar Lista</a></div>
        <div class="boton-crear"><a href="{% url 'lista_mover_derecha' espacio_id=espacio.id tablero_id=tablero.id lista_id=lista.id %}">Derecha</a></div>

        <h2>{{ lista.nombre }} (WIP: {{ lista.max_wip }})</h2>
        <div class="cards">
            {% for tarjeta in lista.tarjetas.all %}
            {% if tarjeta in tarjetas_filtro %}
            <div class="card">
                <div class="card-header">
                    {{ tarjeta.nombre_actividad }}
                </div>
                <div class="card-body">
                    <p>{{ tarjeta.descripcion }}</p>
                    
                    {% for tarea in tarjeta.tareas.all %}
                    
                    <div class="tarea {% if tarea.atrasada %}atrasada{% endif %}">
                        <p>{{ tarea }}</p>
                        <div class="boton-crear">
                            <a href="{% url 'tarea_detalle' espacio_id=espacio.id tablero_id=tablero.id lista_id=lista.id tarjeta_id=tarjeta.id tarea_id=tarea.id %}">Editar Tarea</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="boton-crear">
                        <a href="{% url 'tarjeta_detalle' espacio_id=espacio.id tablero_id=tablero.id lista_id=lista.id tarjeta_id=tarjeta.id %}">Editar Tarjeta</a>
                    </div>
                    <div class="boton-crear">
                        <a href="{% url 'crear_tarea' espacio_id=espacio.id tablero_id=tablero.id lista_id=lista.id tarjeta_id=tarjeta.id %}">Agregar Tarea</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div> 
    </div>
    {% endfor %}
</div>

{% if tablero.listas.all %}
    <div class="filtro_usuario">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Filtrar Usuario</button>
        </form>
    </div>
{% endif %}
{% endblock %}